{% extends 'main.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>


    {% block content %}
    <h1>Project pageeeee</h1>
    <p>Lorem, ipsum dolor.</p>
    {{msg}}

    {% if number > 10 %}
    <p>Number is greater than 10</p>
    {% else %}
    <p>Number is less than 10</p>
    {% endif %}

    <ul>
        {% for values in projects %}
           <li>
            Name : <a href="{% url 'project' values.id %}">{{ values.title }}</a>
            Desc : {{values.description}}
           </li>
            
            {% endfor %}
    </ul>



    {% endblock content %}

    
</body>
</html>